<!DOCTYPE html>
<html>
  <head>
    <title>Vincent Martorano</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway|Josefin+Slab|Poiret+One" rel="stylesheet">
    <link rel="icon" href="headshot-face.jpg">
    <script src="https://use.fontawesome.com/0ce8f435d7.js"></script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
